<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Skin</key>
	<dict>
		<key>program</key>
		<string>clipping-doublesided</string>
		<key>front</key>
		<dict>
			<key>clip_shading</key>
			<false/>
			<key>texture</key>
			<string>art.scnassets/Head-Texture3</string>
			<key>color</key>
			<array>
				<real>1</real>
				<real>0.7</real>
				<real>0.5</real>
			</array>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>1000</integer>
		</dict>
		<key>back</key>
		<dict>
			<key>clip_shading</key>
			<true/>
			<key>color</key>
			<array>
				<real>1</real>
				<real>0.5</real>
				<real>0.5</real>
			</array>
			<key>userDefaultsColorKey</key>
			<string>flesh_color_key</string>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>Brian</key>
	<dict>
		<key>program</key>
		<string>clipping-doublesided</string>
		<key>front</key>
		<dict>
			<key>clip_shading</key>
			<true/>
			<key>color</key>
			<array>
				<real>1</real>
				<real>0.5</real>
				<real>0.5</real>
			</array>
			<key>userDefaultsColorKey</key>
			<string>flesh_color_key</string>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>100</integer>
		</dict>
		<key>back</key>
		<dict>
			<key>clip_shading</key>
			<true/>
			<key>color</key>
			<array>
				<real>0.3</real>
				<real>1</real>
				<real>0.3</real>
			</array>
			<key>userDefaultsColorKey</key>
			<string>brian_color_key</string>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>Ear</key>
	<dict>
		<key>program</key>
		<string>clipping-doublesided</string>
		<key>front</key>
		<dict>
			<key>clip_shading</key>
			<false/>
			<key>texture</key>
			<string>art.scnassets/Ear-Texture</string>
			<key>color</key>
			<array>
				<real>1</real>
				<real>0.7</real>
				<real>0.5</real>
			</array>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>1000</integer>
		</dict>
		<key>back</key>
		<dict>
			<key>clip_shading</key>
			<true/>
			<key>color</key>
			<array>
				<real>1</real>
				<real>0.5</real>
				<real>0.5</real>
			</array>
			<key>userDefaultsColorKey</key>
			<string>flesh_color_key</string>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>1000</integer>
		</dict>
	</dict>
	<key>InnerSkin</key>
	<dict>
		<key>program</key>
		<string>clipping-doublesided</string>
		<key>front</key>
		<dict>
			<key>clip_shading</key>
			<false/>
			<key>texture</key>
			<string>art.scnassets/Head-Texture3</string>
			<key>color</key>
			<array>
				<real>1</real>
				<real>0.7</real>
				<real>0.5</real>
			</array>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>1000</integer>
		</dict>
		<key>back</key>
		<dict>
			<key>clip_shading</key>
			<true/>
			<key>color</key>
			<array>
				<real>1</real>
				<real>0.5</real>
				<real>0.5</real>
			</array>
			<key>userDefaultsColorKey</key>
			<string>flesh_color_key</string>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>1000</integer>
		</dict>
	</dict>
	<key>NoseSkin</key>
	<dict>
		<key>program</key>
		<string>clipping-doublesided</string>
		<key>front</key>
		<dict>
			<key>clip_shading</key>
			<false/>
			<key>texture</key>
			<string>art.scnassets/Nose-Texture</string>
			<key>color</key>
			<array>
				<real>1</real>
				<real>0.7</real>
				<real>0.5</real>
			</array>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>1000</integer>
		</dict>
		<key>back</key>
		<dict>
			<key>clip_shading</key>
			<true/>
			<key>color</key>
			<array>
				<real>1</real>
				<real>0.5</real>
				<real>0.5</real>
			</array>
			<key>userDefaultsColorKey</key>
			<string>flesh_color_key</string>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>1000</integer>
		</dict>
	</dict>
	<key>Teeth_white</key>
	<dict>
		<key>program</key>
		<string>clipping-doublesided</string>
		<key>front</key>
		<dict>
			<key>clip_shading</key>
			<false/>
			<key>texture</key>
			<string>art.scnassets/Head-Texture3</string>
			<key>color</key>
			<array>
				<real>1</real>
				<real>0.7</real>
				<real>0.5</real>
			</array>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>1000</integer>
		</dict>
		<key>back</key>
		<dict>
			<key>clip_shading</key>
			<true/>
			<key>color</key>
			<array>
				<real>0.5</real>
				<real>0.5</real>
				<real>0.5</real>
			</array>
			<key>userDefaultsColorKey</key>
			<string>teeth_color_key</string>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>1000</integer>
		</dict>
	</dict>
	<key>Eyes</key>
	<dict>
		<key>program</key>
		<string>clipping-doublesided</string>
		<key>front</key>
		<dict>
			<key>clip_shading</key>
			<false/>
			<key>texture</key>
			<string>art.scnassets/Eye-Texture</string>
			<key>color</key>
			<array>
				<real>1</real>
				<real>0.7</real>
				<real>0.5</real>
			</array>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>1000</integer>
		</dict>
		<key>back</key>
		<dict>
			<key>userDefaultsColorKey</key>
			<string>eye_color_key</string>
			<key>clip_shading</key>
			<true/>
			<key>color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>1000</integer>
		</dict>
	</dict>
	<key>Eyes_Iris</key>
	<dict>
		<key>program</key>
		<string>clipping-doublesided</string>
		<key>front</key>
		<dict>
			<key>clip_shading</key>
			<false/>
			<key>texture</key>
			<string>art.scnassets/Eye-Texture</string>
			<key>color</key>
			<array>
				<real>1</real>
				<real>0.7</real>
				<real>0.5</real>
			</array>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>1000</integer>
		</dict>
		<key>back</key>
		<dict>
			<key>userDefaultsColorKey</key>
			<string>eye_color_key</string>
			<key>clip_shading</key>
			<true/>
			<key>color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>1000</integer>
		</dict>
	</dict>
	<key>Eyes_Lens</key>
	<dict>
		<key>program</key>
		<string>clipping-doublesided</string>
		<key>front</key>
		<dict>
			<key>clip_shading</key>
			<false/>
			<key>texture</key>
			<string>art.scnassets/Eye-Texture</string>
			<key>color</key>
			<array>
				<real>1</real>
				<real>0.7</real>
				<real>0.5</real>
			</array>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>1000</integer>
		</dict>
		<key>back</key>
		<dict>
			<key>userDefaultsColorKey</key>
			<string>eye_color_key</string>
			<key>clip_shading</key>
			<true/>
			<key>color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>1000</integer>
		</dict>
	</dict>
	<key>Eye_lashes</key>
	<dict>
		<key>program</key>
		<string>clipping-doublesided</string>
		<key>front</key>
		<dict>
			<key>clip_shading</key>
			<false/>
			<key>color</key>
			<array>
				<real>1</real>
				<string>0</string>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>1000</integer>
		</dict>
		<key>back</key>
		<dict>
			<key>clip_shading</key>
			<false/>
			<key>color</key>
			<array>
				<real>1</real>
				<string>0</string>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>1000</integer>
		</dict>
	</dict>
	<key>Bone</key>
	<dict>
		<key>program</key>
		<string>clipping-doublesided</string>
		<key>front</key>
		<dict>
			<key>clip_shading</key>
			<true/>
			<key>color</key>
			<array>
				<real>0.5</real>
				<real>0.5</real>
				<real>0.5</real>
			</array>
			<key>userDefaultsColorKey</key>
			<string>bone_color_key</string>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>100</integer>
		</dict>
		<key>back</key>
		<dict>
			<key>clip_shading</key>
			<true/>
			<key>color</key>
			<array>
				<integer>1</integer>
				<real>0.5</real>
				<real>0.5</real>
			</array>
			<key>userDefaultsColorKey</key>
			<string>flesh_color_key</string>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>1000</integer>
		</dict>
	</dict>
	<key>Teeth_bone</key>
	<dict>
		<key>program</key>
		<string>clipping-doublesided</string>
		<key>front</key>
		<dict>
			<key>clip_shading</key>
			<true/>
			<key>color</key>
			<array>
				<real>0.5</real>
				<real>0.5</real>
				<real>0.5</real>
			</array>
			<key>userDefaultsColorKey</key>
			<string>bone_color_key</string>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>100</integer>
		</dict>
		<key>back</key>
		<dict>
			<key>clip_shading</key>
			<true/>
			<key>color</key>
			<array>
				<real>0.5</real>
				<real>0.5</real>
				<real>0.5</real>
			</array>
			<key>userDefaultsColorKey</key>
			<string>teeth_color_key</string>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<real>100</real>
		</dict>
	</dict>
	<key>Teeth_skin</key>
	<dict>
		<key>program</key>
		<string>clipping-doublesided</string>
		<key>front</key>
		<dict>
			<key>clip_shading</key>
			<true/>
			<key>color</key>
			<array>
				<real>1</real>
				<real>0.5</real>
				<real>0.5</real>
			</array>
			<key>userDefaultsColorKey</key>
			<string>flesh_color_key</string>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>100</integer>
		</dict>
		<key>back</key>
		<dict>
			<key>clip_shading</key>
			<true/>
			<key>color</key>
			<array>
				<real>0.5</real>
				<real>0.5</real>
				<real>0.5</real>
			</array>
			<key>userDefaultsColorKey</key>
			<string>teeth_color_key</string>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<real>100</real>
		</dict>
	</dict>
	<key>Hair_inner</key>
	<dict>
		<key>program</key>
		<string>clipping-doublesided</string>
		<key>front</key>
		<dict>
			<key>clip_shading</key>
			<true/>
			<key>color</key>
			<array>
				<real>0.8</real>
				<real>0.03</real>
				<real>0.22</real>
			</array>
			<key>userDefaultsColorKey</key>
			<string>hair_color_key</string>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>1000</integer>
		</dict>
		<key>back</key>
		<dict>
			<key>clip_shading</key>
			<true/>
			<key>color</key>
			<array>
				<real>1</real>
				<real>0.5</real>
				<real>0.5</real>
			</array>
			<key>userDefaultsColorKey</key>
			<string>flesh_color_key</string>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>Hair_outer</key>
	<dict>
		<key>program</key>
		<string>clipping-doublesided</string>
		<key>front</key>
		<dict>
			<key>clip_shading</key>
			<false/>
			<key>color</key>
			<array>
				<real>0.8</real>
				<real>0.03</real>
				<real>0.22</real>
			</array>
			<key>userDefaultsColorKey</key>
			<string>hair_color_key</string>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>1000</integer>
		</dict>
		<key>back</key>
		<dict>
			<key>clip_shading</key>
			<true/>
			<key>color</key>
			<array>
				<real>0.8</real>
				<real>0.03</real>
				<real>0.22</real>
			</array>
			<key>userDefaultsColorKey</key>
			<string>hair_color_key</string>
			<key>R0</key>
			<real>0.028</real>
			<key>spec_exp</key>
			<integer>1000</integer>
		</dict>
	</dict>
</dict>
</plist>
